extends layout

block content
  h3 Welcome to #{title}!
  li: #[span Click] #[a(href="#{link}#{profiles}") here] #[span to view all profiles]
  li: #[span Click] #[a(href="#{link}#{add}") here] #[span to add a new profile]
  li: #[span Click] #[a(href="#{link}#{del}") here] #[span to remove a profile]
